In [1]:
import pandas as pd

data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df1 = pd.DataFrame(data)
display(df1)

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [2]:
#多個相同索引Series,可以組成1個DataFrame
display(df1['縣市'])
display(df1['年份'])
display(df1['人口'])

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [3]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
df2 = pd.DataFrame(data,columns=['年份','人口','縣市'])
df2

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [4]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
df3 = pd.DataFrame(data,columns=['縣市','人口'])#變更欄位
df3

   縣市   人口
0  台北  2.2
1  台北  2.5
2  台北  2.7
3  新竹  1.1
4  新竹  1.5
5  新竹  2.0

In [5]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df4 = pd.DataFrame(data,index=['one', 'two', 'three', 'four', 'five', 'six'])#更改索引
df4

       縣市    年份   人口
one    台北  2000  2.2
two    台北  2001  2.5
three  台北  2002  2.7
four   新竹  2001  1.1
five   新竹  2002  1.5
six    新竹  2003  2.0

In [6]:
data = [
    {'縣市':'台北', '年份':2000, '人口': 2.2},
    {'縣市':'台中', '年份':2001, '人口': 1.1},
    {'縣市':'新竹', '年份':2001, '人口': 1.5},
]

df5 = pd.DataFrame(data)
df5

   縣市    年份   人口
0  台北  2000  2.2
1  台中  2001  1.1
2  新竹  2001  1.5

In [7]:
#2維的ndArray
import numpy as np

data = np.random.randint(50,101,size=(50,5))
scores_df = pd.DataFrame(data,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))#columns變更欄位名稱
scores_df

    國文  英文   數學   地理  歷史
1   97  95   71   80  71
2   87  80   95   66  99
3   99  58   64   87  70
4   66  81   89   65  87
5   69  51   79   61  51
6   75  62   92   94  77
7   84  55   59   50  92
8   66  85   89   86  92
9   61  64   84   52  70
10  62  55   61   52  64
11  84  59   68   60  51
12  67  69   55   54  68
13  84  76   66   71  89
14  64  94   67   68  85
15  58  70   64   88  86
16  50  65   75   67  81
17  72  57   96   56  88
18  86  70   63   99  67
19  61  51   80   57  60
20  95  97   88   73  71
21  50  68   98   63  83
22  57  67   61   91  99
23  64  97   83   75  68
24  84  97  100   73  66
25  72  90   68   60  93
26  72  91   56   96  81
27  57  67   90   78  68
28  58  79   67   99  73
29  62  79   53   77  66
30  77  96   97   79  74
31  56  76   78   93  84
32  68  73   96   87  52
33  84  53   95   52  68
34  96  81   81   95  89
35  97  52   61   87  82
36  77  84   62   56  95
37  95  79   71   99  78
38  74  95   87   98  93
39  76  54   78   96  86
40  78  95   73  100  94
41  60  98   95   86  61
42  73  69   66   90  79
43  94  66   72   95  82
44  51  89   55   94  82
45  77  71   93   74  72
46  73  90   98   95  75
47  79  94   80   90  65
48  87  71   74   80  97
49  64  90   88   91  61
50  59  75   73   98  58

In [8]:
total_series = scores_df['國文'] + scores_df['數學'] + scores_df['英文'] + scores_df['地理'] + scores_df['歷史']
display(total_series)
display(scores_df)
scores_df['總分'] = total_series#增加總分
display(scores_df)
scores_df['平均'] = total_series / 5.0#增加平均
display(scores_df)

1     414
2     427
3     378
4     388
5     311
6     400
7     340
8     418
9     331
10    294
11    322
12    313
13    386
14    378
15    366
16    338
17    369
18    385
19    309
20    424
21    362
22    375
23    387
24    420
25    383
26    396
27    360
28    376
29    337
30    423
31    387
32    376
33    352
34    442
35    379
36    374
37    422
38    447
39    390
40    440
41    400
42    377
43    409
44    371
45    387
46    431
47    408
48    409
49    394
50    363
dtype: int64

    國文  英文   數學   地理  歷史
1   97  95   71   80  71
2   87  80   95   66  99
3   99  58   64   87  70
4   66  81   89   65  87
5   69  51   79   61  51
6   75  62   92   94  77
7   84  55   59   50  92
8   66  85   89   86  92
9   61  64   84   52  70
10  62  55   61   52  64
11  84  59   68   60  51
12  67  69   55   54  68
13  84  76   66   71  89
14  64  94   67   68  85
15  58  70   64   88  86
16  50  65   75   67  81
17  72  57   96   56  88
18  86  70   63   99  67
19  61  51   80   57  60
20  95  97   88   73  71
21  50  68   98   63  83
22  57  67   61   91  99
23  64  97   83   75  68
24  84  97  100   73  66
25  72  90   68   60  93
26  72  91   56   96  81
27  57  67   90   78  68
28  58  79   67   99  73
29  62  79   53   77  66
30  77  96   97   79  74
31  56  76   78   93  84
32  68  73   96   87  52
33  84  53   95   52  68
34  96  81   81   95  89
35  97  52   61   87  82
36  77  84   62   56  95
37  95  79   71   99  78
38  74  95   87   98  93
39  76  54   78   96  86
40  78  95   73  100  94
41  60  98   95   86  61
42  73  69   66   90  79
43  94  66   72   95  82
44  51  89   55   94  82
45  77  71   93   74  72
46  73  90   98   95  75
47  79  94   80   90  65
48  87  71   74   80  97
49  64  90   88   91  61
50  59  75   73   98  58

    國文  英文   數學   地理  歷史   總分
1   97  95   71   80  71  414
2   87  80   95   66  99  427
3   99  58   64   87  70  378
4   66  81   89   65  87  388
5   69  51   79   61  51  311
6   75  62   92   94  77  400
7   84  55   59   50  92  340
8   66  85   89   86  92  418
9   61  64   84   52  70  331
10  62  55   61   52  64  294
11  84  59   68   60  51  322
12  67  69   55   54  68  313
13  84  76   66   71  89  386
14  64  94   67   68  85  378
15  58  70   64   88  86  366
16  50  65   75   67  81  338
17  72  57   96   56  88  369
18  86  70   63   99  67  385
19  61  51   80   57  60  309
20  95  97   88   73  71  424
21  50  68   98   63  83  362
22  57  67   61   91  99  375
23  64  97   83   75  68  387
24  84  97  100   73  66  420
25  72  90   68   60  93  383
26  72  91   56   96  81  396
27  57  67   90   78  68  360
28  58  79   67   99  73  376
29  62  79   53   77  66  337
30  77  96   97   79  74  423
31  56  76   78   93  84  387
32  68  73   96   87  52  376
33  84  53   95   52  68  352
34  96  81   81   95  89  442
35  97  52   61   87  82  379
36  77  84   62   56  95  374
37  95  79   71   99  78  422
38  74  95   87   98  93  447
39  76  54   78   96  86  390
40  78  95   73  100  94  440
41  60  98   95   86  61  400
42  73  69   66   90  79  377
43  94  66   72   95  82  409
44  51  89   55   94  82  371
45  77  71   93   74  72  387
46  73  90   98   95  75  431
47  79  94   80   90  65  408
48  87  71   74   80  97  409
49  64  90   88   91  61  394
50  59  75   73   98  58  363

    國文  英文   數學   地理  歷史   總分    平均
1   97  95   71   80  71  414  82.8
2   87  80   95   66  99  427  85.4
3   99  58   64   87  70  378  75.6
4   66  81   89   65  87  388  77.6
5   69  51   79   61  51  311  62.2
6   75  62   92   94  77  400  80.0
7   84  55   59   50  92  340  68.0
8   66  85   89   86  92  418  83.6
9   61  64   84   52  70  331  66.2
10  62  55   61   52  64  294  58.8
11  84  59   68   60  51  322  64.4
12  67  69   55   54  68  313  62.6
13  84  76   66   71  89  386  77.2
14  64  94   67   68  85  378  75.6
15  58  70   64   88  86  366  73.2
16  50  65   75   67  81  338  67.6
17  72  57   96   56  88  369  73.8
18  86  70   63   99  67  385  77.0
19  61  51   80   57  60  309  61.8
20  95  97   88   73  71  424  84.8
21  50  68   98   63  83  362  72.4
22  57  67   61   91  99  375  75.0
23  64  97   83   75  68  387  77.4
24  84  97  100   73  66  420  84.0
25  72  90   68   60  93  383  76.6
26  72  91   56   96  81  396  79.2
27  57  67   90   78  68  360  72.0
28  58  79   67   99  73  376  75.2
29  62  79   53   77  66  337  67.4
30  77  96   97   79  74  423  84.6
31  56  76   78   93  84  387  77.4
32  68  73   96   87  52  376  75.2
33  84  53   95   52  68  352  70.4
34  96  81   81   95  89  442  88.4
35  97  52   61   87  82  379  75.8
36  77  84   62   56  95  374  74.8
37  95  79   71   99  78  422  84.4
38  74  95   87   98  93  447  89.4
39  76  54   78   96  86  390  78.0
40  78  95   73  100  94  440  88.0
41  60  98   95   86  61  400  80.0
42  73  69   66   90  79  377  75.4
43  94  66   72   95  82  409  81.8
44  51  89   55   94  82  371  74.2
45  77  71   93   74  72  387  77.4
46  73  90   98   95  75  431  86.2
47  79  94   80   90  65  408  81.6
48  87  71   74   80  97  409  81.8
49  64  90   88   91  61  394  78.8
50  59  75   73   98  58  363  72.6

In [9]:
display(scores_df.loc[10])#抓列的資料
display(scores_df.iloc[9])#抓列的資料

國文     62.0
英文     55.0
數學     61.0
地理     52.0
歷史     64.0
總分    294.0
平均     58.8
Name: 10, dtype: float64

國文     62.0
英文     55.0
數學     61.0
地理     52.0
歷史     64.0
總分    294.0
平均     58.8
Name: 10, dtype: float64

In [10]:
#slice
scores_df.loc[1:10]

    國文  英文  數學  地理  歷史   總分    平均
1   97  95  71  80  71  414  82.8
2   87  80  95  66  99  427  85.4
3   99  58  64  87  70  378  75.6
4   66  81  89  65  87  388  77.6
5   69  51  79  61  51  311  62.2
6   75  62  92  94  77  400  80.0
7   84  55  59  50  92  340  68.0
8   66  85  89  86  92  418  83.6
9   61  64  84  52  70  331  66.2
10  62  55  61  52  64  294  58.8

In [11]:
#使用list
scores_df.loc[[1, 3, 5, 7, 9]]

   國文  英文  數學  地理  歷史   總分    平均
1  97  95  71  80  71  414  82.8
3  99  58  64  87  70  378  75.6
5  69  51  79  61  51  311  62.2
7  84  55  59  50  92  340  68.0
9  61  64  84  52  70  331  66.2

In [12]:
#前10筆
display(scores_df.iloc[:10])
#最後10筆
display(scores_df.iloc[-10:])

    國文  英文  數學  地理  歷史   總分    平均
1   97  95  71  80  71  414  82.8
2   87  80  95  66  99  427  85.4
3   99  58  64  87  70  378  75.6
4   66  81  89  65  87  388  77.6
5   69  51  79  61  51  311  62.2
6   75  62  92  94  77  400  80.0
7   84  55  59  50  92  340  68.0
8   66  85  89  86  92  418  83.6
9   61  64  84  52  70  331  66.2
10  62  55  61  52  64  294  58.8

    國文  英文  數學  地理  歷史   總分    平均
41  60  98  95  86  61  400  80.0
42  73  69  66  90  79  377  75.4
43  94  66  72  95  82  409  81.8
44  51  89  55  94  82  371  74.2
45  77  71  93  74  72  387  77.4
46  73  90  98  95  75  431  86.2
47  79  94  80  90  65  408  81.6
48  87  71  74  80  97  409  81.8
49  64  90  88  91  61  394  78.8
50  59  75  73  98  58  363  72.6

In [13]:
from requests import Response
import requests
from io import StringIO
import csv
import pandas as pd

def get_data() -> list[dict]:
    link = 'https://raw.githubusercontent.com/roberthsu2003/__2024_02_20_2_4__/main/lesson11/students.csv'
    try :
        down:Response=requests.get(link)
        
    except:
        print("Erro")
        return 1
    file:str=down.text
    b:StringIO=StringIO(file)
    cs=csv.DictReader(b)
    data:list[dict]=list(cs)
    return data
    
data:list[dict] = get_data()
pd.DataFrame(data)

   name height weight
0   李政成    207     42
1   艾巧夫    153     45
2   林昱芳    184     66
3   洪阿惠    162     58
4   陳淑萍    160     79
5   黃旻林    191     79
6   陳怡伶    191     52
7   周怡啟    216     40
8   臧怡君    192     65
9   林柏洋    214     56
10  吳淑惠    173     49
11  魏秋萍    207     62
12  葉志峰    209     63
13  尚偉倫    212     81
14  張莉雯    213     56
15  童建霖    166     43
16  馮耀中    202     53
17  彭虹屏    183     56
18  黃淑芬    164     86
19  黃善迪    169     87
20  邱亭君    218     57
21  游治旺    157     42
22  林瑞喬    197     76
23  童建霖    184     58
24  陳淑娟    171     65
25  林冠蕙    197     57
26  余月修    214     68
27  陳怡容    199     56
28  陳建豪    201     80
29  潘英迪    218     81
30  錢佩豪    191     55
31  林俊翔    207     58
32  程玫靖    178     57
33  黃婷婷    202     48
34  劉慧君    196     64
35  張俊傑    174     84
36  王人仰    171     78
37  趙宛真    217     76
38  游一鈺    204     57
39  方筠紹    207     87
40   戚亨    207     66
41  鄧哲榮    180     69
42  黃淑芬    182     49
43  趙家豪    175     40
44  李政成    215     64
45  尚偉倫    183     42
46  傅佳琳    168     64
47  蔡至剛    171     65
48  艾巧夫    193     51
49  陳彥治    151     64